<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>
    <%= ingredient.name %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="show-page-container">
    <div class="show-img"></div>
    <div class="show-info-container">
      <div class="show-header">
        <h1><%= ingredient.name %> ingredient</h1>
      </div>
      <div class="show-details-container">
        <div class="owner-container">
          <a href="/ingredients/<%= ingredient._id %>/edit">Edit</a>
          <form action="/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete ingredient</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>